@use 'variables' as v;
@use 'sass:color';
@use 'mixins' as m;

.btn {
  margin: 0;
  border: none;

  &--black {
    padding: 0 20px;
    background-color: v.$color-black;
    color: v.$color-white;
    font-weight: 500;

    &:hover {
      background-color: color.adjust(v.$color-black, $alpha: -0.35);
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  &--transparent{
    background-color: transparent;

    &:hover {
      background-color: color.adjust(v.$color-black, $alpha: -0.7);
      color: v.$color-white;
      cursor: pointer;
    }
  }
}