@use 'variables' as v;
@use 'sass:color';
@use 'mixins' as m;
@use 'placeholders';

.header {
  height: 50px;

  .nav {
    height: 50px;
    width: 100%;
    @include m.d-flex(start, center);
    background-color: color.adjust(v.$color-white, $alpha: -0.85);
    border-bottom: 1px solid v.$color-white;
    border-left: 1px solid v.$color-white;
    border-right: 1px solid v.$color-white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &__title {
      height: 100%;
      width: 255px;
      @include m.d-flex(center, center);
      border-right: 1px solid v.$color-white;

      &-link {
        font-size: 25px;
        font-weight: 500;
        color: v.$color-white;
        transition: 0.3s;

        span {
          font-weight: 700;
        }

        @extend %hover-black;
      }
    }

    &__links {
      flex-grow: 1;

      .list {
        @include m.d-flex(start, center, nowrap, row, min(100px, 5vw), 0);
        padding: 0 0 0 min(100px, 5vw);

        &__item {
          &-link {
            font-weight: 400;
            font-size: 22px;
            color: v.$color-white;
            transition: 0.3s;
            @extend %hover-black;
          }
        }
      }

      @media(max-width: v.$media_lg) {
        .list {
          @include m.d-flex(center, center, nowrap, row, min(100px, 5vw), 0);
          padding: 0;
        }
      }
    }

    .covid {
      height: 100%;
      @include m.d-flex(center, center);
      padding: 0 30px;

      border: {
        left: 1px solid v.$color-white;
        right: 1px solid v.$color-white;
      }

      &__link {
        font-weight: 700;
        font-size: 16px;
        color: v.$color-white;
        @extend %hover-black;
      }
    }

    .globe {
      width: 90px;
      @include m.d-flex(center, center);

      &__link {
        &-icon {
          fill: v.$color-white;
          width: 27px;
          height: 28px;
          transition: 0.3s;
          @extend %hover-black-icon;
        }
      }
    }
  }
}

