@mixin d-flex($jc: center, $ai: center, $fw: nowrap, $fd: row, $cg: 0, $rg: 0){
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $fw;
  flex-direction: $fd;
  column-gap: $cg;
  row-gap: $rg;
}

@mixin font($s:16px, $w:400, $color:#fff, $st:normal) {
  font: {
    size: $s;
    weight: $w;
    style: $st;
  }
  color: $color;
}

@mixin position($top-or-bottom, $left-or-right, $v1, $v2) {
  #{$top-or-bottom}: $v1;
  #{$left-or-right}: $v2;
}